<ion-header>
  <ion-toolbar>
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>
<div class='logo'>
  <img src="../../assets/icon/registrappblack.svg" alt="">
</div >
<br>
<br>
<ion-content>
<form [formGroup]="loginForm">
  <ion-card color="undefined">
      <ion-card-content >
        <div color="undefined">
          <ion-item color="undefined" >
            <ion-label  position="floating" >Usuario:</ion-label>
            <ion-input type="text" formControlName="user" ></ion-input>
          </ion-item>
          <ion-item color="undefined">
            <ion-label  position="floating">Contraseña:</ion-label>
            <ion-input type="password" formControlName="pass"></ion-input>
          </ion-item>
        </div>
        <br>
        <ion-button  (click) = "login()" >
          Iniciar sesión
        </ion-button>
      </ion-card-content>

  </ion-card>

</form>

</ion-content>
