.logo {
  width: 60%;
  padding: 5%;
  margin-left: 20%;
  margin-top: 5%;

}



ion-item.item-has-focus>ion-label {
  --color: #ffb71b !important;
}

ion-button {
  --background: #60263e;
  --border-radius: 10% 20% 50% 60%;

}
