<ion-header>
  <ion-toolbar>
    <ion-title>RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label  position="floating">Usuario:</ion-label>
          <ion-input type="text" id="user"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  position="floating">Contraseña:</ion-label>
          <ion-input type="password" id="pass"></ion-input>
        </ion-item>
      </ion-list>
      <br>
      <ion-button expand="block" color="primary">
        Iniciar sesión
      </ion-button>
    </ion-card-content>
  </ion-card-header>
</ion-card>

</ion-content>
