.img{
    height: 100px;
    width: 100px;
    margin-top: 80px;
    object-fit: cover;

}

.bienvenido{
    text-align:center, justify;
}

.boton{
    border-radius: 100px;
    color:white;
}

.qr{
    margin-top: 100px;
}

.boton{
    width: 200px;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}