<ion-header>
  <ion-toolbar>
    <ion-title>Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Avatar-->

  <ion-item lines="none" color="undefined"><ion-button size="small" color="medium" fill="outline" slot="end" strong="true" [routerLink]="['/login']">Cerrar</ion-button></ion-item>
  <div class="ion-text-center" style="margin-top: 20px">
    <img class="img" src="assets/img/avatar.png" />



    <ion-text color="white" class="bienvenido"
      ><h1>Bienvenido {{ name }}</h1></ion-text
    >
  </div>
  <!--Qr-->
  <ion-grid>
    <ion-row>
      <ion-col
        size-sm="12"
        size-md="12"
        size-xl="12"
        class="ion-align-self-center"
      >
        <!--Boton-->
        <div class="qr ion-text-center" size-sm="6" size-md="6" size-xl="12">
          <ion-text color="white">
            <h2>Confirma tu asistencia</h2>
          </ion-text>
          <ion-button
            id="animationClick"
            class="boton"
            size="large"
            color="warning"
            (click)="presentAlert()"
          >
            <h2>AQUÍ</h2></ion-button
          >
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--footer-->
<ion-footer class="ion-text-center" collapse="fade"> </ion-footer>
