<ion-header>
  <ion-toolbar>
    <ion-title>Profesor</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="full">
    <ion-avatar slot="end">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h3>{{ list[1] }}</h3>
      <p>{{ list[0] }}</p>
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-list-header>
      <ion-label>Secciones:</ion-label>
    </ion-list-header>
    <ion-card button="true" *ngFor="let asignatura of asignaturas" color="{{ asignatura.color }}"
      [routerLink]="['/profesor', (asignatura.cod + asignatura.section)]">
      <ion-card-header>
        <ion-card-subtitle>
          {{ asignatura.section }}
        </ion-card-subtitle>
        <ion-card-title>
          {{ asignatura.cod }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ asignatura.title }}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
